In [55]:
import numpy as np

In [57]:
import pandas as pd
import matplotlib.pyplot as plt

In [76]:
# creating a class for Lasso Regression

class Lasso_Regression():
    def __init__(self, learning_rate, no_of_iterations, lambda_parameter):
        
        self.learning_rate = learning_rate
        self.no_of_iterations = no_of_iterations
        self.lambda_parameter = lambda_parameter

    def fit(self, X, Y):

    # m --> number of Data points --> number of rows
    # n --> number of input features --> number of columns
        self.m, self.n = X.shape
        self.w = np.zeros(self.n)
        self.b = 0
        self.X = X
        self.Y = Y
        
        for i in range(self.no_of_iterations):     # missed "self"
            
            self.upadte_weights()
            
    def upadte_weights(self):

    # linear equation of the model
        Y_prediction = self.predict(self.X)

    # gradients (dw, db)

    # gradient for weight
        dw = np.zeros(self.n)

        for i in range(self.n): 
            if self.w[i]>0:
                dw[i] = (-(2*(self.X).dot(self.Y - Y_prediction)) + self.lambda_parameter) / self.m 
            else:
                dw[i] = (-(2*(self.X).dot(self.Y - Y_prediction)) - self.lambda_parameter) / self.m
                
        db = - 2 * np.sum(self.Y - Y_prediction) / self.m
        
        self.w = self.w - self.learning_rate*dw
        self.b = self.b - self.learning_rate*db
        
    def predict(self,X):
        return X.dot(self.w) + self.b

In [67]:
data = pd.read_csv("salary_data.csv")

In [10]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [13]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
YearsExperience,30.0,5.313333,2.837888,1.1,3.20,4.7,7.70,10.5
Salary,30.0,76003.000000,27414.429785,37731.0,56720.75,65237.0,100544.75,122391.0

In [68]:
X = data.drop("Salary",axis=1)
y = data["Salary"]

In [60]:
X.shape

(30, 1)

In [23]:
y.shape

(30,)

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [71]:
model = LassoRegression(0.02,1000,200)

In [77]:
model = LassoRegression(learning_rate=0.02, no_of_iter=1000, lambda_para=200)

X_train.shape

In [65]:
X_train

    YearsExperience
23              8.2
6               3.0
3               2.0
20              6.8
5               2.9
27              9.6
12              4.0
4               2.2
10              3.9
16              5.1
28             10.3
25              9.0
17              5.3
2               1.5
7               3.2
26              9.5
24              8.7
18              5.9
11              4.0
22              7.9
29             10.5
13              4.1
15              4.9
8               3.2

In [78]:
model.fit(X_train,y_train)

InvalidIndexError: (slice(None, None, None), 0)